<mat-form-field appearance="fill" class="input-width">
  <mat-label> Hero Search</mat-label>

  <input
    [matAutocomplete]="auto"
    (input)="search(searchBox.value)"
    type="text"
    #searchBox
    matInput
    placeholder="Hero name"
  />

  <button mat-icon-button matSuffix *ngIf="searchBox.value">
    <mat-icon (click)="searchBox.value = ''">close</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelected($event); searchBox.value = ''"
  >
    <mat-option *ngFor="let hero of heroes$ | async" [value]="hero">
      {{ hero.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
