<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <span fxFlex></span>

  <ng-container *ngIf="isLoggedIn">
    <button
      *ngFor="let menuItem of menuItems"
      mat-icon-button
      aria-label="menuItem.routerLink"
      [routerLink]="[menuItem.routerLink]"
      [matTooltip]="menuItem.toolTipText"
    >
      <mat-icon>{{ menuItem.icon }}</mat-icon>
    </button>
  </ng-container>

  <a
    mat-button
    matTooltip="Login into app"
    *ngIf="!isLoggedIn"
    routerLink="/login"
    >Login</a
  >

  <ng-container *ngIf="isLoggedIn"
    ><button
      mat-icon-button
      [mat-menu-trigger-for]="menu"
      [matTooltip]="'Logout'"
    >
      <mat-icon>account_circle</mat-icon>
    </button></ng-container
  >

  <mat-menu #menu>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
